html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container-1, .container-2, .container-3, .container-4, .header, .card {
    display: flex;
}

.container-1 {
    flex-direction: column;
    background-color: #1f2937;
}

.header {
    justify-content: space-between;
    color: #f9faf8;
    font-size: 1.2em;
    margin: 0 3em;
}

.logo {
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    padding-right: 12px;
    display: inline;
}

.card {
    margin: 6rem;
    height: 80%;
    width: 60%;
    padding: 2.2em;
    align-self: center;
    gap: 3em;
    flex: 1;
}

.name>p:first-child {
    font-size: 2em;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

.name>p:nth-of-type(2), .name>p:nth-of-type(3) {
    font-size: 1em;
    color: #e5e7eb;
}

button {
background-color: #3882f6;
color: #f9faf8;
font-weight: 800;
padding: 2px 16px;
border-style: hidden;
border-radius: 4px;
}

.container-2 {
    flex-direction: column;
}

.image-container-1 {
    display: flex;
    align-items: center;
    width: 100%;
}

.img-1 {
    width: 100%;
}

.name {
    text-align: center;
    padding: 0 1.2em;
    width: 70vw;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin: 2em;
}

.info {
    display: flex;
    align-self: center;
    gap: 2.0rem;
    margin: 3rem;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-bottom: 6rem;
}

.image-container-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15vw;
    height: 15vw;
}

.text {
    color: #1f2937;
    text-align: justify;
}

.img-2 {
    width: 15vw;
    height: 12vw;
    border-radius: 15px;
}

.container-3 {
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 6rem 14rem;
}
.container-3 > p {
    display: block;
    color: #1f2937;
    font-size: 1.6rem;
}

.container-3 > p:nth-child(odd) {
    font-style: italic;
    margin: 0;
}

.container-3 > p:nth-child(even) {
    font-weight: bold;
    margin: 0;
    text-align: right;
}

.container-3 > p:nth-child(2) {
    margin-bottom: 5rem;
}

.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6rem auto;
    padding: 2rem 3.2rem;
    gap: 4rem;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 1.2rem;
    font-weight: 800;
    border: 1px solid black;
    border-radius: 10px;
}

.signup> p {
    margin: 0;
}

.signup> button {
    border: 2px solid #f9faf8;
}

footer {
    background-color: #1f2937;
    text-align: center;
    padding: 3rem;
    color: #e5e7eb;
}
